<!-- header -->
<header>
    <!-- logo -->
    <img src="../images/pomodoro.png" alt="logo"">
    <!-- menu -->
    <a href="/space" class="tab active-page" id="space" >Space</a>
    <a href="/news"  class="tab" id="news">News</a>
    <a href="/tools" class="tab" id="tools" >Tools</a>
</header>
