<!-- header -->
<header>
    <!-- logo -->
    <img src="../images/pomodoro.png" alt="logo"">
    <!-- menu -->
    <a href="/" class="tab active-page" id="home" >Home</a>
    <a href=""  class="tab" id="doc">Documentation</a>
    <a href="/developers" class="tab" id="dev-tab" >Developers</a>
</header>
