<% layout('/layout/template') %> 

<main class="developer">
    <section>
        <h1>About Developers</h1>
        <p>We are the developers of (Website Title).Students of Computer Engineering at Bulacan State University  Meneses Campus.</p>
    </section>
    <div class="FullStack">
        <img src="../images/Arvin.jpg" alt="Arvin" class="profile">
        <div class="dev">
            <h1>Arvin Cabrera</h1>
            <h1 >FullStack Developer / Designer</h1>
        </div>
    </div>
    <div class="FullStack">
        <img src="../images/Ronnie.jpg" alt="Ronnie" class="profile">
        <div class="dev">
            <h1>Ronnie Munez</h1>
            <h1>FullStack Developer</h1>
        </div>
    </div>
    <div class="FrontEnd">
        <img src="../images/Angelo.jpg" alt="Angelo" id="angelo" class="profile">
        <div class="dev">
            <h1>Angelo Cruz</h1>
            <h1>FrontEnd Developer / Designer</h1>
        </div>
    </div>
    <div class="FrontEnd">
        <img src="../images/Janmills.jpg" alt="Janmills" class="profile">
        <div class="dev">
            <h1>Janmills Tapado</h1>
            <h1>FrontEnd Developer</h1>
        </div>
    </div>
</main>