<% layout('/layout/mainpage') %> 
<div class="container">
    <div class="room">
        <div id="title">This is an Example of Space</div>
        <a href="/space/id" id="join">join space</a>
    </div>
</div>
<div class="sidebar">
    <input type="search" placeholder="Find Space...">
    <button id="new-room">Create Space</button>
</div>

