<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../Javasript/slides.js"></script>  
    <script src="../Javasript/index.js"></script> 
    <title>Project_Unknown</title>
</head>
<body>
    <!-- header -->
    <%-include("../partials/navbar")%> 

    <!-- main-content -->
    <main class="container-fluid" style="width:100%;margin:0;padding:0;">
        <%- body %> 
    </main> 

    <!-- footer -->
   
</body>
</html>